version: '3.8'

services:
  
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1927
      POSTGRES_DB: todo_api
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Servicio de la API
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:1927@db:5432/todo_api
      SECRET_KEY: XCGOjyaWPhmXaxtuLvDI7h0eKqdnZ3odE8YdM3cXZKD
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
    depends_on:
      - db

volumes:
  postgres_data: